  <noscript>
    <style>
      noscript {
        top: 0;
        left: 0;
        position: absolute;
        background-color: yellow;
        width: 100%;
      }
      noscript p {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    </style>
  </noscript>
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <noscript>
    <p>You seem to have JavaScript disabled. Unfortunately SMASH won't work without it. Check out <a href="https://www.enable-javascript.com/" target="_blank">these instructions</a> if you want to enable javascript.</p>
  </noscript>
  <div id="container" style="display: none">
    <div class="topnav">
        <a class="active" id='nav-tab-1' data-href='/'>Home</a>
        <a id='nav-tab-2' data-href='/about'>About</a>
        <a id='nav-tab-4' data-href='/products/12/edit/22'>12 22</a>      
    </div>

    <p id="main"></p>

  </div>