<div class="pull-right">
  <button class="btn btn-primary" id="export" type="button" style="display:none;">Export</button>
</div>
<ul class="nav nav-tabs" role="tablist">
  <li {{tab1Active}}class="active"{{/tab1Active}} role="presentation"><a id="tableTab" href="#table" aria-controls="table" role="tab" data-toggle="tab" data-id="1">Table</a></li>
  <li {{tab2Active}}class="active"{{/tab2Active}} role="presentation"><a href="#charts" aria-controls="charts" role="tab" data-toggle="tab" data-id="2">Charts</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane tab-borders fade{{tab1Active}} active in{{/tab1Active}}" id="table" role="tabpanel">
    <div class="clearfix"></div>
    <div class="top-buffer">
      <table class="table table-striped" id="indicatorTable">
        <thead>
          <tr>
            <th class="pointer" title="The GP practice" data-toggle="tooltip" data-container="body" data-placement="top">Practice</th>
            <th class="pointer" title="The number of patients affected by this indicator across all practices" data-toggle="tooltip" data-container="body" data-placement="top">Affected patients</th>
            <th class="pointer" title="The population of patients across all practices that this indicator could affect" data-toggle="tooltip" data-container="body" data-placement="top">Eligible patients</th>
            <th class="pointer" title="Proportion of the population in focus that are affected by this indicator across all practices" data-toggle="tooltip" data-container="body" data-placement="top">% of eligible patients affected</th>
            <th class="pointer" title="Proportion of the population in focus that are affected by this indicator across all practices in the local CCG" data-toggle="tooltip" data-container="body" data-placement="top">CCG Avg (%)</th>
            <th class="pointer" title="The number of patients affected by more than 1 indicator across all practices" data-toggle="tooltip" data-container="body" data-placement="top">More than one indicator</th>
            <th class="pointer" title="Patients no longer affected by this indicator since the last comparison date across all practices" data-toggle="tooltip" data-container="body" data-placement="top">Successful intervention</th>
            <th class="pointer" title="Patients who remain affected by this indicator since the last comparison date" data-toggle="tooltip" data-container="body" data-placement="top">Action pending</th>
            <th class="pointer" title="Patients affected by this indicator who weren't affected on the last comparison date" data-toggle="tooltip" data-container="body" data-placement="top">New cases</th>
            <th class="pointer" title="Difference in the number of affected patients between last comparison date and current" data-toggle="tooltip" data-container="body" data-placement="top">Trend</th>
            <th class="pointer" title="Keeps this practice on top row of the table even when you sort the columns" data-toggle="tooltip" data-container="body" data-placement="top">Show on top</th>
          </tr>
        </thead>
        <tbody>
          {{summary.tableData}}
          <tr class="no-priority">
            <td class="prominentLink" title="Click to view practice" data-toggle="tooltip" data-container="body" data-placement="left" data-href="/practice/{{id}}/date/{{summary.dateId}}/comparedWith/{{summary.comparisonDateId}}/tab/undefined"><a href="javascript:void(0)">{{short_name}}</a></td>
            <td>{{num}}</td>
            <td>{{denom}}</td>
            <td>{{avg}}</td>
            <td>{{ccg}}</td>
            <td>{{patientsMultiple}}</td>
            <td>{{resolved}}</td>
            <td>{{existing}}</td>
            <td>{{new}}</td>
            <td>{{trendValue}}</td>
            <td>
              <input type="checkbox" />
            </td>
          </tr>
          {{/summary.tableData}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane tab-borders fade{{tab2Active}} active in{{/tab2Active}}" id="charts" role="tabpanel">
    <div style="padding:10px;">
      <select class="selectpicker" id="id_chart" data-width="auto" title="Please select a chart to view...">
        <option value="0">Proportion of eligible patients affected</option>
        <option value="1">Number of affected patients over time</option>
        <option value="2">Proportion of eligible patients affected over time</option>
      </select>
    </div>
    <div id="chartPanel"></div>
  </div>
</div>