<form id="filterBarCcg" class="form-inline">
  <div class="form-group">
    <select class="form-control inline-select selectpicker" id="indicatorList" data-live-search="true" data-width="auto">
      <option value="0" {{isSelected}}selected{{/isSelected}}>All Indicators</option>
      {{indicators}}
      <option value="{{_id}}" {{isSelected}}selected{{/isSelected}}>{{short_name}}</option>
      {{/indicators}}
    </select>
  </div>
  <div class="form-group left-buffer align-bottom">
    <label for="reportDate" style="display:block;">Report date:</label>
    <select class="inline-select" id="dateList" name="reportDate">
      {{dates}}
      {{shouldDisplay}}
      <option value="{{_id}}" {{isSelected}}selected{{/isSelected}}>{{value}}</option>
      {{/shouldDisplay}}
      {{/dates}}
    </select>
  </div>
  <div class="form-group left-buffer align-bottom">
    <label for="comparisonDate" style="display:block;">Comparison date:</label>
    <select class="inline-select" id="dateCompareList" name="comparisonDate">
      {{comparisonDates}}
      {{shouldDisplay}}
      <option value="{{_id}}" {{isSelected}}selected{{/isSelected}}>{{value}}</option>
      {{/shouldDisplay}}
      {{/comparisonDates}}
    </select>
  </div>
</form>